---
# Users that should be available on all target nodes
local_user:
  - ffweingarten

# Packages that should be available on all target nodes
generic_packages:
  - anacron
  - atop
  - dmidecode
  - dstat
  - genisoimage
  - git
  - htop
  - iftop
  - iotop
  - ncdu
  - nmap
  - net-tools
  - nfs-common
  - pv
  - rsync
  - screen
  - strace
  - syslinux
  - tree
  - unzip
  - vim
  - wget
  - zsh

