---
# Users that should be available on all target nodes
local_user:
  - ffweingarten

# Packages that should be available on all target nodes
generic_packages:
  - anacron
  - atop
  - bmon
  - curl
  - dmidecode
  - dstat
  - genisoimage
  - git
  - gpg
  - htop
  - iftop
  - ifupdown
  - iotop
  - ncdu
  - nload
  - nmap
  - net-tools
  - nfs-common
  - pv
  - resolvconf
  - rsync
  - screen
  - shellcheck
  - strace
  - syslinux
  - tree
  - unzip
  - vim
  - wget
  - zsh

qemu_packages:
  - qemu-guest-agent
