#!/bin/bash
# Managed by ansible (traccar role). Path is derived from the compose project
# name (= basename of traccar_dir) and the named volume.

log_dir="/var/lib/docker/volumes/{{ traccar_dir | basename }}_{{ traccar_volume_logs }}/_data"
keep_backups={{ traccar_log_keep_days }}
FIND=$(command -v find)

${FIND} "$log_dir" -type f -name "*.log.*" -mtime +$keep_backups -exec rm {} \;
