#jinja2: lstrip_blocks: True
---
volumes:
  {{ traccar_volume_logs }}:
  {{ traccar_volume_media }}:

services:
  traccar:
    container_name: {{ traccar_container_name }}
    image: {{ traccar_image }}:{{ traccar_version }}
    hostname: {{ traccar_hostname }}
    restart: {{ traccar_restart_policy }}
    environment:
      - TZ={{ traccar_tz }}
    ports:
      - "{{ traccar_port }}:{{ traccar_container_port }}"
    volumes:
      - {{ traccar_dir }}/traccar.xml:/opt/traccar/conf/traccar.xml:rw
      - {{ traccar_volume_media }}:/opt/traccar/media
      - {{ traccar_volume_logs }}:/opt/traccar/logs
    {% if traccar_mem_limit %}
    mem_limit: {{ traccar_mem_limit }}
    {% endif %}
    {% if traccar_cpus %}
    cpus: {{ traccar_cpus }}
    {% endif %}
    {% if traccar_no_new_privileges %}
    security_opt:
      - no-new-privileges:true
    {% endif %}
    {% if traccar_drop_all_caps %}
    cap_drop:
      - ALL
    {% endif %}
    {% if traccar_read_only %}
    read_only: true
    tmpfs:
      - /tmp
    {% endif %}
