#!/usr/bin/expect

set timeout -1;
spawn /opt/netbox/venv/bin/python manage.py changepassword {{netbox_admin_user}};
expect {
    "Password:" { exp_send "{{netbox_admin_pass}}\r" ; exp_continue }
    "Password (again):" { exp_send "{{netbox_admin_pass}}\r" ; exp_continue }
    eof
}