# {{ ansible_managed }}

[Interface]
Address = 192.168.69.1/24
ListenPort = 51820
PrivateKey = {{ server_privkey }}
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

[Peer]
# 5bed87a102c442b5e458ca8498369e3e MacBook
PublicKey=3ZBSkYmnWM1ZA+/j8wjyn1Tg2ZjkihnVxrxymFp2DWk=
AllowedIPs=192.168.69.2
PersistentKeepalive=25

[Peer]
# 5bed87a102c442b5e458ca8498369e3e Desktop Windows
PublicKey=TdV/zuDvwZQmlFyEfUWkwhEQ2EAorDzWVSqN9VQ3VF4=
AllowedIPs=192.168.69.3
PersistentKeepalive=25

[Peer]
# 5bed87a102c442b5e458ca8498369e3e Handy
PublicKey=uRhHDyE6llbBoZuPkmVyf71nb5LxDKV9hgervcu36Uc=
AllowedIPs=192.168.69.4
PersistentKeepalive=25

[Peer]
# f16491bf0133c6103918b2edcd00cf89
PublicKey=rw9WwzQtFEyW8lis57lKVmEOMOncIggR+kGZ6kTcdGI=
AllowedIPs=192.168.69.5
PersistentKeepalive=25

[Peer]
# ea78d2dac1023d318a3d322be3b993de
PublicKey=COJEP7Tmu8jo9nnriZlND3MEYSXDU7dRZ2CBqcypOXM=
AllowedIPs=192.168.69.6
PersistentKeepalive=25

[Peer]
# 85e32a10adc84351726614dea2ae600c Handy
PublicKey=M3EuXOooeIQa9Zr6bmG++8/4BVkUyArqHXLzNbKGLD0=
AllowedIPs=192.168.69.7
PersistentKeepalive=25

[Peer]
# 85e32a10adc84351726614dea2ae600c Desktop
PublicKey=OOBNdlLYOAfi7+IbSmTR91HE+mgNz2V4I3jieV9I5Dw=
AllowedIPs=192.168.69.8
PersistentKeepalive=25

[Peer]
# 85e32a10adc84351726614dea2ae600c Tablet
PublicKey=qtYLTiXs55eLS/WAS9OCtYsA4NXSIaYeZZ1PAg+kWEA=
AllowedIPs=192.168.69.9
PersistentKeepalive=25

[Peer]
# ad0302ad2266356434cdc493a4f0662d Handy
PublicKey=5OLngBn9Ej7y6YiVduYm4IYI4yOGwHYR+2gpXvJno0I=
AllowedIPs=192.168.69.10
PersistentKeepalive=25

[Peer]
# ELW
PublicKey=duZKSsltlEKZtjLphSffBZODyklPudd7oqDUeRV3ZHM=
AllowedIPs=192.168.69.11
PersistentKeepalive=25

[Peer]
# Newkey1
PublicKey=0bZK/vmHKJ+BVl+QGT90KBptGRcSrY8cbGZo7uHVNDE=
AllowedIPs=192.168.69.12
PersistentKeepalive=25

[Peer]
# Newkey2
PublicKey=C9aOuaAAkxepHx39IW6kKxYbVFIVx+kONOFTX4oCogA=
AllowedIPs=192.168.69.13
PersistentKeepalive=25

[Peer]
# Newkey3
PublicKey=NGYgaFEKAm0Lg8vHyF3EC0VqAJi1YmYTsg6dy2VaFTM=
AllowedIPs=192.168.69.14
PersistentKeepalive=25

[Peer]
# Newkey4
PublicKey=tC64GPRec3NgTFXsf+xVPjPyV/XV8W7P5AW1D9K0xTI=
AllowedIPs=192.168.69.15
PersistentKeepalive=25

[Peer]
# Newkey5
PublicKey=6dpUkHOlZMjMxn8hPtphxgJ2VMqeiC7Em0iCw8qJQRk=
AllowedIPs=192.168.69.16
PersistentKeepalive=25

[Peer]
# Newkey6
PublicKey=bggdzeaNXEcB/nq2Llf4OGhtC4YTU8BjhPvWO/v/T1s=
AllowedIPs=192.168.69.17
PersistentKeepalive=25

[Peer]
# Newkey7
PublicKey=rRTlBqKiq9Fc1Iy06yNYoRGcSDSMRJh8eHKzc15apRw=
AllowedIPs=192.168.69.18
PersistentKeepalive=25

[Peer]
# Newkey8
PublicKey=oo42qIBnyqEhvIVlIIoEgWivnaq1q0fV0X8+dhhlDmo=
AllowedIPs=192.168.69.19
PersistentKeepalive=25

[Peer]
# Newkey9
PublicKey=9OOBBd/NJCn+WSs/Wqa0fuWSaSrWgfIsaGV6e3fmdDw=
AllowedIPs=192.168.69.20
PersistentKeepalive=25

[Peer]
# Newkey10
PublicKey=hhDU+LERlLXHDsDXXnj1xdOICQ3v37sZaxHNo1MNRnY=
AllowedIPs=192.168.69.21
PersistentKeepalive=25

[Peer]
# Newkey11
PublicKey=I0JC13VXVyLdzwrYEpBFYvhBc2y/wDKlniiAH0RtLAU=
AllowedIPs=192.168.69.22
PersistentKeepalive=25

[Peer]
# Newkey12
PublicKey=IwrcMzxkmCnnYtgF5P1Z5NBAiVp6/8r0Fo7M+ubudys=
AllowedIPs=192.168.69.23
PersistentKeepalive=25

[Peer]
# Newkey13
PublicKey=cseaddv2AJxFF7+75WopT1jX4GeLN9GGDcreP15+uW0=
AllowedIPs=192.168.69.24
PersistentKeepalive=25

[Peer]
# Newkey14
PublicKey=LdJSFtVA7t74bNc7r9x+qt98AoCqLnOCXgvV7HCdpkY=
AllowedIPs=192.168.69.25
PersistentKeepalive=25

[Peer]
# Newkey15
PublicKey=rHmAhq4UdwqfF/qMZzANYnBQUUn6g9tT4+Z9Ray1zxM=
AllowedIPs=192.168.69.26
PersistentKeepalive=25
