---
- name: Include tasks for docker installation
  ansible.builtin.include_tasks: install_docker.yml
  when: install_docker

- name: Include tasks for netboot
  ansible.builtin.include_tasks: netboot.yml

#- name: Include tasks for taiga
#  ansible.builtin.include_tasks: taiga.yml

- name: Include tasks for traccar_test
  ansible.builtin.include_tasks: traccar_test.yml

- name: Include tasks for traccar_prod
  ansible.builtin.include_tasks: traccar_prod.yml

- name: Include tasks for heimdall_test
  ansible.builtin.include_tasks: heimdall_test.yml

- name: Include tasks for heimdall_prod
  ansible.builtin.include_tasks: heimdall_prod.yml

- name: Include tasks for rustdesk_prod
  ansible.builtin.include_tasks: rustdesk_prod.yml

- name: Copy backup script
  ansible.builtin.template:
    src: files/docker_backup.j2
    dest: /etc/cron.daily/docker_backup
    mode: '0750'
  when: install_backup
