---
services:
  nextcloud:
    image: {{ nextcloud_image }}:{{ nextcloud_version }}
    container_name: nextcloud
    restart: {{ nextcloud_restart_policy }}
    networks:
      - cloud
    depends_on:
      - redis
    ports:
      - {{ nextcloud_port }}:80
    volumes:
      - nextcloud_html:/var/www/html
      - nextcloud_custom_apps:/var/www/html/custom_apps
      - nextcloud_config:/var/www/html/config
      - nextcloud_data:/var/www/html/data
      # AD share is mounted on the host (see roles/nextcloud/tasks/main.yml,
      # "Mount AD Fuehrungsgruppe NFS share on the host") and bind-mounted in
      # here. Host-kernel NFS with nconnect+large-rsize is much faster than
      # the previous `driver: local, type: nfs` named volume.
      - {{ nextcloud_nfs_mountpoint }}:/mnt/ad_fuehrungsgruppe
      - {{ nextcloud_dir }}/redis.config.php:/var/www/html/config/redis.config.php:ro
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ ntp_timezone }}
      - POSTGRES_HOST={{ nextcloud_postgres_host }}
      - POSTGRES_PASSWORD={{ nextcloud_psql_db_password }}
      - POSTGRES_DB={{ nextcloud_postgres_db }}
      - POSTGRES_USER={{ nextcloud_postgres_user }}
      - REDIS_HOST=redis
      - TRUSTED_PROXIES={{ nextcloud_trusted_proxies }}
      - OVERWRITEHOST={{ nextcloud_overwrite_host }}
      - OVERWRITEPROTOCOL={{ nextcloud_overwrite_protocol }}
      - LC_ALL={{ nextcloud_locale }}
      - LANG={{ nextcloud_locale }}
      - LANGUAGE={{ nextcloud_locale }}

  collabora:
    image: {{ nextcloud_collabora_image }}:{{ nextcloud_collabora_version }}
    container_name: collabora
    restart: {{ nextcloud_restart_policy }}
    networks:
      - cloud
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ ntp_timezone }}
      - password={{ nextcloud_collabora_password }}
      - username={{ nextcloud_collabora_username }}
      - domain={{ nextcloud_collabora_domain }}
      - extra_params=--o:ssl.enable=true
    ports:
      - {{ nextcloud_collabora_port }}:9980

  redis:
    image: {{ nextcloud_redis_image }}:{{ nextcloud_redis_version }}
    container_name: redis
    restart: {{ nextcloud_restart_policy }}
    volumes:
      - nextcloud_redis:/data
    networks:
      - cloud

networks:
  cloud:
    name: cloud
    driver: bridge

volumes:
  nextcloud_redis:
  nextcloud_html:
  nextcloud_custom_apps:
  nextcloud_config:
  nextcloud_data:
