---
  - name: Create Portainer Volume
    community.docker.docker_volume:
      name: portainer_data

  - name: Start Portainer Container
    community.docker.docker_container:
      name: portainer
      image: portainer/portainer-ce:latest
      restart_policy: "always"
      published_ports:
        - 8000:8000
        - 9443:9443
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - portainer_data:/data
