---
services:
  bookstack:
    image: {{ bookstack_image }}:{{ bookstack_version }}
    container_name: {{ bookstack_container_name }}
    restart: {{ bookstack_restart_policy }}
    environment:
      - PUID={{ bookstack_puid }}
      - PGID={{ bookstack_pgid }}
      - TZ={{ bookstack_tz }}
      - APP_URL={{ bookstack_app_url }}
    volumes:
      - ./config:/config
    ports:
      - "{{ bookstack_port }}:80"
