---
services:
  bookstack:
    image: lscr.io/linuxserver/bookstack
    container_name: bookstacktest
    environment:
      - PUID=1000
      - PGID=1000
      - APP_URL=http://bookstack.test.ff-weingarten.de
      #- DB_HOST=bookstack_db
      #- DB_PORT=3306
      #- DB_USER=bookstack
      #- DB_PASS={{ bookstack_mysql_password }}
      #- DB_DATABASE=bookstackapp
    volumes:
      - bookstack_app_data_test:/config
    ports:
      - 6876:80
    restart: unless-stopped

volumes:
  bookstack_app_data_test: