{
    "api": "{{ taiga_scheme }}://{{ taiga_domain }}/api/v1/",
    "eventsUrl": "{{ taiga_websockets_scheme }}://{{ taiga_domain }}/events",
    "baseHref": "/",
    "loginFormType": "{{ taiga_login_form_type }}",
    "eventsMaxMissedHeartbeats": 5,
    "eventsHeartbeatIntervalTime": 60000,
    "eventsReconnectTryInterval": 10000,
    "debug": true,
    "debugInfo": true,
    "defaultLanguage": "{{ taiga_default_language }}",
    "themes": ["taiga"],
    "defaultTheme": "{{ taiga_default_theme }}",
    "defaultLoginEnabled": true,
    "publicRegisterEnabled": {{ taiga_public_register_enabled | lower }},
    "feedbackEnabled": {{ taiga_feedback_enabled | lower }},
    "supportUrl": "{{ taiga_support_url }}",
    "privacyPolicyUrl": null,
    "termsOfServiceUrl": null,
    "maxUploadFileSize": null,
    "contribPlugins": [],
    "gitHubClientId": "",
    "gitLabClientId": "",
    "gitLabUrl": "",
    "tagManager": { "accountId": null },
    "tribeHost": null,
    "enableAsanaImporter": false,
    "enableGithubImporter": false,
    "enableJiraImporter": false,
    "enableTrelloImporter": false,
    "gravatar": false,
    "rtlLanguages": [
        "ar",
        "fa",
        "he"
    ]
}
