#!/bin/bash

source_dir="/var/lib/docker/volumes"
backup_dir="/mnt/nfs"
keep_backups=10
current_datetime=$(date +"%Y-%m-%d_%H-%M-%S")
backup_filename="${current_datetime}-{{ docker_backup_suffix }}-backup.tar"
# db_backup_filename="${current_datetime}-{{ docker_backup_suffix }}-backup.tar"
DOCKER=$(command -v docker)
GZIP=$(command -v gzip)
TAR=$(command -v tar)
FIND=$(command -v find)


# remote_target="${remote_user}@${remote_server}"
backup_fullpath="${backup_dir}/${backup_filename}"
# db_backup_fullpath=${backup_dir}/${db_backup_filename}"
 
# Docker-Container herunterfahren
# docker stop $(docker ps -q)
${DOCKER} stop taiga-taiga-db-1
# Erstelle das Backup-Archiv
${TAR} -cpf "${backup_fullpath}" "${source_dir}"
# Docker-Container wieder starten
# docker start $(docker ps -a -q)
${DOCKER} start taiga-taiga-db-1
# Komprimiere das Backup-Archiv
${GZIP} "${backup_fullpath}"
backup_fullpath="${backup_fullpath}.gz"

# docker exec -it taiga-taiga-db-1 /usr/bin/pg_dumpall -Utaiga  -f ./tmp/backup.sql
# tar -cpf "${backup_fullpath}" "${source_dir}"
# gzip "${backup_fullpath}"
# backup_fullpath="${backup_fullpath}.gz"

# Lösche ältere lokale Backups mit `find`
${FIND} "$backup_dir" -type f -name "*-backup.tar.gz" -mtime +$keep_backups -exec rm {} \;
 