INSTALLED_APPS += ["taiga_contrib_ldap_auth_ext"]

# Multiple LDAP servers are currently not supported, see
# https://github.com/Monogramm/taiga-contrib-ldap-auth-ext/issues/16
LDAP_SERVER = "ldap://192.168.10.110"
LDAP_PORT = 389

LDAP_BIND_DN = "{{ ldap_bind_dn }}"
LDAP_BIND_PASSWORD = "{{ ldap_bind_password }}"

LDAP_SEARCH_BASE = '{{ ldap_search_base }}'

LDAP_USERNAME_ATTRIBUTE = "sAMAccountName"
LDAP_EMAIL_ATTRIBUTE = "mail"
LDAP_FULL_NAME_ATTRIBUTE = "displayName"

LDAP_SAVE_LOGIN_PASSWORD = False

LDAP_MAP_USERNAME_TO_UID = None