version: '3'

volumes:
  traccartest_logs:
  traccartest_media:

services:
  traccar:
    container_name: traccartest
    image: traccar/traccar:latest
    hostname: traccartest
    restart: unless-stopped
    environment:
        - "TZ=Europ/Berlin"
    ports:
      - 8083:8082
    volumes:
      - /srv/traccar_test/traccar.xml:/opt/traccar/conf/traccar.xml:rw
      - traccartest_media:/opt/traccar/media
      - traccartest_logs:/opt/traccar/logs