<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE properties SYSTEM 'http://java.sun.com/dtd/properties.dtd'>
<properties>
<entry key="config.default">./conf/default.xml</entry>
<entry key='database.driver'>org.postgresql.Driver</entry>
<entry key='database.url'>jdbc:postgresql://psql.prod.ff-weingarten.de/traccar</entry>
<entry key='database.user'>traccar</entry>
<entry key='database.password'>{{ psql_db_traccar_prod_password }}</entry>
</properties>