---
- name: Create web folder for hydrant
  ansible.builtin.file:
    path: "{{ hydrant_install_path }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: Restore static html files for hydrant
  ansible.posix.synchronize:
    src: "{{ hydrant_backup_path }}"
    dest: "{{ hydrant_install_path }}"
  delegate_to: "{{ inventory_hostname }}"

- name: Change ownership for hydrant
  ansible.builtin.file:
    path: "{{ hydrant_install_path }}"
    owner: www-data
    group: www-data
    recurse: yes
  notify: restart apache
