#jinja2: lstrip_blocks: True
networks:
  {{ rustdesk_network_name }}:

services:
  hbbs:
    container_name: hbbs
    image: {{ rustdesk_image }}:{{ rustdesk_version }}
    command: hbbs -r {{ rustdesk_host }}:21117
    ports:
{% for port in rustdesk_hbbs_tcp_ports %}
      - "0.0.0.0:{{ port }}:{{ port }}"
{% endfor %}
{% for port in rustdesk_hbbs_udp_ports %}
      - "0.0.0.0:{{ port }}:{{ port }}/udp"
{% endfor %}
{% if rustdesk_expose_web_client %}
      - "0.0.0.0:21118:21118"
{% endif %}
    volumes:
      - {{ rustdesk_data_volume }}:/root
    networks:
      - {{ rustdesk_network_name }}
    depends_on:
      - hbbr
    restart: {{ rustdesk_restart_policy }}
{% if rustdesk_mem_limit %}
    mem_limit: {{ rustdesk_mem_limit }}
{% endif %}
{% if rustdesk_cpus %}
    cpus: {{ rustdesk_cpus }}
{% endif %}
{% if rustdesk_no_new_privileges %}
    security_opt:
      - no-new-privileges:true
{% endif %}
{% if rustdesk_drop_all_caps %}
    cap_drop:
      - ALL
{% endif %}
{% if rustdesk_read_only %}
    read_only: true
    tmpfs:
      - /tmp
{% endif %}
{% if rustdesk_log_max_size %}
    logging:
      driver: json-file
      options:
        max-size: "{{ rustdesk_log_max_size }}"
        max-file: "{{ rustdesk_log_max_file }}"
{% endif %}

  hbbr:
    container_name: hbbr
    image: {{ rustdesk_image }}:{{ rustdesk_version }}
    command: hbbr
    ports:
{% for port in rustdesk_hbbr_tcp_ports %}
      - "0.0.0.0:{{ port }}:{{ port }}"
{% endfor %}
{% if rustdesk_expose_web_client %}
      - "0.0.0.0:21119:21119"
{% endif %}
    volumes:
      - {{ rustdesk_data_volume }}:/root
    networks:
      - {{ rustdesk_network_name }}
    restart: {{ rustdesk_restart_policy }}
{% if rustdesk_mem_limit %}
    mem_limit: {{ rustdesk_mem_limit }}
{% endif %}
{% if rustdesk_cpus %}
    cpus: {{ rustdesk_cpus }}
{% endif %}
{% if rustdesk_no_new_privileges %}
    security_opt:
      - no-new-privileges:true
{% endif %}
{% if rustdesk_drop_all_caps %}
    cap_drop:
      - ALL
{% endif %}
{% if rustdesk_read_only %}
    read_only: true
    tmpfs:
      - /tmp
{% endif %}
{% if rustdesk_log_max_size %}
    logging:
      driver: json-file
      options:
        max-size: "{{ rustdesk_log_max_size }}"
        max-file: "{{ rustdesk_log_max_file }}"
{% endif %}

volumes:
  {{ rustdesk_data_volume }}:
