---
- name: Setup checkmk server
  hosts: prod_checkmk
  remote_user: ffweingarten
  become: true
  become_user: root
  roles:
    - role: common
      vars:
        setup_qemu: true
    - role: tribe29.checkmk.server
      vars:
        checkmk_server_version: "2.2.0p8"
        checkmk_server_edition: cre
        checkmk_server_verify_setup: 'true'
        checkmk_server_sites:
          - name: feuerwehr
            version: "{{ checkmk_server_version }}"
            state: started
            admin_pw: !vault |
              $ANSIBLE_VAULT;1.1;AES256
              30323932333236626537363739303630623066393832343465353466663332386464646635643930
              3637323031366561396363643266356465613064323630390a653532396263333664623463313433
              36323365353664313738343536306431363564313430323235313037326133663365613334303064
              3131373162303430390a313634613438336131643866343162373335666461346635316362656264
              3564
