---
- name: Maria DB Setup Playbook
  hosts: mysql
  remote_user: ffweingarten
  become: true
  gather_facts: true
  roles:
    - role: common
    - role: geerlingguy.ntp
    - role: nfs
    - role: fauust.mariadb
